.env
.env.local
.env.*.local
/vendor/
/var/cache/
/var/log/
/.phpunit.cache/
/.phpunit.result.cache
/.phpunit.cache
/.idea/
/.vscode/
*.log
*.pem
*.key
docker-compose.local.yml
.DS_Store
Thumbs.db
coverage/
infection.log
