includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-doctrine/rules.neon

parameters:
    level: 9

    paths:
        - src/

    tmpDir: var/cache/phpstan

    symfony:
        containerXmlPath: var/cache/test/App_KernelTestDebugContainer.xml

    doctrine:
        objectManagerLoader: tests/phpstan/doctrine-object-manager.php